
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>适合酒店预订、旅行网站等时间段选择的双日期插件</title>
<link href="/css/doubleDate.css" type="text/css" rel="stylesheet" />
<!-- <script src="http://demo.lanrenzhijia.com/2013/riqi1216/js/jquery-1.4.2.min.js"></script> -->
<script src="/js/jquery.min.js"></script>
<script src="/js/datePick.js"></script>
<script>
$(function(){
	$('.doubledate').kuiDate({
		className:'doubledate',
		isDisabled: "0"  // isDisabled为可选参数，“0”表示今日之前不可选，“1”标志今日之前可选
	});
});
</script>
</head>

<body>
<style>
body{ padding-top:100px;}
.baidu_ads{ width:960px; height:90px; position:absolute; left:50%; top:0; margin-left:-480px; overflow:hidden;}
.sougou_ads{ width:728px; height:90px; position:fixed; left:50%; bottom:0; margin-left:-364px; overflow:hidden;z-index:9999;}
</style>
</span><ul class="iptgroup">
	<li>出发日期：</li>
	<li><input type="text" readonly="readonly" class="doubledate ipticon"/></li>
	<li style="width:20px;"></li>
	<li>返程日期：</li>
	<li><input type="text" readonly="readonly" class="doubledate ipticon"/></li>
</ul>
</body>
</html>